<div *ngIf="staticVerb || (isVerbExist$ | async)" class="ml-4">
    <button
            [@animate]="{ value: '*', params: { delay: '40ms', x: '-5px' } }"
            *ngIf="!savedVerbs.includes(verb)"
            (click)="onAddToTheFavorite()">
        <span class="text-yellow-500">&#9734;</span>
        <span *ngIf="savedVerbs.includes(verb)">&#9733;</span>
    </button>

    <button
            [@animate]="{ value: '*', params: { delay: '40ms', x: '-5px' } }"
            *ngIf="savedVerbs.includes(verb)"
            (click)="onRemoveFromFavorites()">
        <span class="text-yellow-500">&#9733;</span>
    </button>

</div>
