<ng-container *ngIf="staticVerb || (isVerbExist$ | async)">
    <button
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            *ngIf="!savedVerbs.includes(verb)"
            class="ml-4"
            (click)="onAddToTheFavorite()">
        <span>&#9734;</span>
        <span *ngIf="savedVerbs.includes(verb)">&#9733;</span>
    </button>

    <button
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
            *ngIf="savedVerbs.includes(verb)"
            class="ml-4"
            (click)="onRemoveFromFavorites()">
        <span>&#9733;</span>
    </button>

</ng-container>
