<div class="flex flex-col self-center mx-auto p-4 h-screen overflow-hidden" fxFlex.lg="50%">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto page-title flex-shrink-0">
        <div class="header flex items-center justify-start items-center w-full">

            <div [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                 class="mr-3 flex items-center">
                <button
                        routerLink="">Verbs
                </button>
                <app-custom-icon class="ml-2" iconName="chevron-right"></app-custom-icon>
            </div>

            <h2 class="text-3xl font-semibold tracking-tight leading-8">
                Favorites
            </h2>
        </div>
    </div>

    <div class="flex justify-between items-baseline mt-9 mb-3.5">
        <div>
            <h4 class="text-grey-500">
                Total:
                <span
                        class="text-grey-700 font-bold">
                    {{(favoritesWords$ | async)?.length}}
                </span>
            </h4>
        </div>
        <div class="relative text-gray-700">
            <input #input
                   [formControl]="filterControl"
                   (keydown.space)="$event.preventDefault()"
                   autocomplete="off"
                   id="verb"
                   class="h-8 ml-auto block pl-3 pr-8 placeholder-gray-600 border rounded-lg focus:shadow-outline"
                   type="text" placeholder="Search"/>
            <button
                    (click)="filterControl.reset(); input.focus()"
                    class="absolute inset-y-0 right-0 flex items-center px-4 font-bold text-grey-500">
                <app-custom-icon iconName="times"></app-custom-icon>
            </button>

        </div>
    </div>

    <div [@animate]="{ value: '*', params: { delay: '5ms', scale: '0.8' } }"
         class="w-full overflow-y-scroll" *ngIf="favoritesWords$ | async as favoriteWords">
        <div class="bg-grey-200">
            <div class="overflow-y-scroll">
                <ul class="divide-y-2 divide-gray-100"
                    *ngIf="favoriteWords.length; else empty">
                    <li class="p-3 cursor-pointer text-xl text-grey-700 flex justify-between outline-none"
                        [routerLink]="verb"
                        *ngFor="let verb of favoriteWords | filterPipe: filterControl.value">
                        <a class="outline-none">
                            {{verb | titlecase}}
                        </a>

                        <span>
                    <app-add-to-favorites
                            [currentVerb]="verb" [staticVerb]="true">
                    </app-add-to-favorites>
                </span>

                    </li>
                </ul>
            </div>


            <ng-template #empty>
                <div class="py-10">
                    <h1 class="text-4xl text-center font-semibold tracking-tight leading-8 text-warn-500">
                        No favorite words so far
                    </h1>
                </div>

            </ng-template>
        </div>
    </div>
</div>
