<div class="flex flex-col self-center mx-auto p-4" fxFlex.lg="50%">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto page-title">
        <div class="header flex items-center justify-start items-center w-full">

            <div [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
                 class="mr-3 flex items-center">
                <button
                        routerLink="">Verbs
                </button>
                <app-custom-icon class="ml-2" iconName="chevron-right"></app-custom-icon>
            </div>

            <h2 class="text-3xl font-semibold tracking-tight leading-8">
                Favorites
            </h2>
        </div>
    </div>

    <div class="w-full bg-grey-200 mt-9" *ngIf="favoritesWords$ | async as favoriteWords">
        <ul class="divide-y-2 divide-gray-100" *ngIf="favoriteWords.length; else empty">
            <li class="py-3 hover:bg-gray-50 cursor-pointer p-2 text-xl flex justify-between"
                [routerLink]="verb"
                *ngFor="let verb of favoriteWords">
                <a>
                    {{verb}}
                </a>

                <span>
                    <app-add-to-favorites
                            [currentVerb]="verb" [staticVerb]="true">
                    </app-add-to-favorites>
                </span>

            </li>
        </ul>

        <ng-template #empty>
            <div class="py-10">
                <h1 class="text-4xl text-center font-semibold tracking-tight leading-8 text-warn-500">
                    No favorite words so far
                </h1>
            </div>

        </ng-template>
    </div>

</div>
