<div class="h-screen flex justify-center items-center">
    <div class="flex gap-5">
        <a class="bg-grey-400 hover:bg-grey-600 text-yellow-50 p-6 rounded text-xl" routerLink="../verbs">Verbs</a>

        <a class="bg-grey-400 hover:bg-grey-600 text-yellow-50 p-6 rounded text-xl" routerLink="../dictionary">
            Dictionary</a>

        <a class="bg-grey-400 hover:bg-grey-600 text-yellow-50 p-6 rounded text-xl" routerLink="../flashcards">Flashcards
        </a>

        <a class="bg-grey-400 hover:bg-grey-600 text-yellow-50 p-6 rounded text-xl" routerLink="../favorites">Favorites
        </a>
    </div>
</div>
