<div class="mb-4">
    <div class="flex items-baseline">
        <app-label-with-icon [for]="'verb'" icon="turtle" title="Verb"></app-label-with-icon>

        <ng-container *ngIf="searchControl.value">
            <app-add-to-favorites [currentVerb]="searchControl.value"></app-add-to-favorites>
        </ng-container>
    </div>

    <div class="relative text-gray-700">
        <input [formControl]="searchControl"
               #input
               (keydown.space)="$event.preventDefault()"
               autocomplete="off"
               id="verb"
               class="w-full h-10 pl-3 pr-8 placeholder-gray-600 border rounded-lg focus:shadow-outline"
               type="text" placeholder="Start typing here..."/>
        <button
                (click)="searchControl.reset(); input.focus()"
                class="absolute inset-y-0 right-0 flex items-center px-4 font-bold text-grey-500">
            <app-custom-icon iconName="times"></app-custom-icon>
        </button>
    </div>
</div>

